<!DOCTYPE html>
<script src="static/routeGuard.js"></script>
<script src="static/getHeader.js"></script>
<style>
  @import url("static/News.css");
  @import url("static/spacing.css");
  @import url("static/UserManagement.css");
</style>

<body>
  <div id="header">
    <p>
    <h1>News</h1>
    </p>
  </div>

  <script src="static/getNavBar.js"></script>

  <ul class="list-unstyled" id="news-list">
  </ul>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
  let getAllNews = async user => {
    const rawResponse = await fetch('../controllers/NewsController/getAllNews.php');
    let clone = rawResponse.clone();
    await clone.json().then(res => {
      let ul = document.getElementById('news-list');
      let showingImgList = res.filter(img => img.isShowing);
      // Iteratively add each li corresponding to each news retrieved from the API
      showingImgList.map((news, index) => {
        let li = document.createElement('li');
        li.className = `media${index != res.length -1 ? ' my-4' : ''}`;

        let img = document.createElement("img");
        let altImageUrl = 'https://scontent.fhan5-7.fna.fbcdn.net/v/t31.0-8/21122550_930977190373638_6448461248229799488_o.jpg?_nc_cat=100&_nc_sid=09cbfe&_nc_ohc=ow2MFrVp_uEAX9em0Oe&_nc_ht=scontent.fhan5-7.fna&oh=345aa702fba8da69577b7de46e288ce8&oe=5F00FBB8';
        img.setAttribute("src", news.imageUrl);
        img.setAttribute("id", `news-img-${index}`)
        img.style.width = "100px";
        img.style.height = "100px";
        img.onerror = () => {
          document.getElementById(`news-img-${index}`).src = altImageUrl;
        }
        img.className = "mr-3";

        let div = document.createElement("div");
        div.className = "media-body";

        let a = document.createElement("a");
        a.className = "mt-0 mb-1 news";
        a.setAttribute("href", news.url)
        a.innerHTML = news.title;

        div.appendChild(a);
        div.appendChild(document.createElement("br"));
        div.insertAdjacentText('beforeend', news.summary);

        let editBtn = document.createElement("button");
        editBtn.textContent = "Edit";
        editBtn.className = "ant-btn ant-btn-primary";
        editBtn.onclick = (entry => {
          return () => {
            openEditBox(entry)
          }
        })(news);

        li.appendChild(img);
        li.appendChild(div);
        li.appendChild(editBtn);
        ul.appendChild(li);
      })
    })
  }

  let openEditBox = async news => {
    console.log("news", news);
    const vals = await Swal.fire({
      title: 'Update News',
      html:
        '<div style="text-align: left">Title</div>' +
        `<input id="news-title" value="${news.title}" class="swal2-input">` +
        '<div style="text-align: left">Summary</div>' +
        `<input id="news-summary" value="${news.summary}" class="swal2-input">` +
        '<div style="text-align: left">Image URL</div>' +
        `<input id="news-img-url" value="${news.imageUrl}" class="swal2-input">`,
      focusConfirm: false,
      preConfirm: () => {
        return [
          document.getElementById('news-title').value,
          document.getElementById('news-summary').value,
          document.getElementById('news-img-url').value
        ]
      }
    });

    if (vals) {
      console.log("vals", vals.value);

    }

  }
  getAllNews();
</script>