<!DOCTYPE html>
<script src="static/getHeader.js"></script>
<style>
  @import url("static/UserForm.css");
</style>

<body>
  <div id="header">
    <p>
    <h1>User management</h1>
    </p>
  </div>

  <script src="static/getNavBar.js"></script>

  <h2 align='center' style="display: none" id="res">Updated successfully!</h2>

</body>

</html>

<script>
  let getAllUsers = async () => {
    const rawResponse = await fetch('../controllers/getAllUsers.php');
    let clone = rawResponse.clone();
    await clone.json().then(res => {
      console.log("RES", res);
    })
  }
  getAllUsers();
</script>