<ul id="navbar">
  <!--Home page-->
  <li><a href="Home.php">Home</a></li>
  <!--Tours-->
  <li><a href="Tour.php">Tours</a></li>
  <!--News-->
  <li><a href="News.html">News</a></li>
  <!--Message-->
  <li><a href="Message.php">Message</a></li>
  <!--Support-->
  <li><a href="Support.html">Support</a></li>
  <!--private info-->
  <li><a href="User.html" id="nav-username">User</a></li>
  <li><a href="user-management.html" style="display: none" id="user-management">User Management</a></li>
  <li><a href="tour-management.php" style="display: none" id="tour-management">Tour Management</a></li>

  <!--Log out-->
  <li><a href="index.php">Log out</a></li>
</ul>