#tours-list {
    /*color: red;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: white;
}
.tour {
    float: none;
    text-align: left;
    margin: 20px 0 40px 0;
    background-color: aquamarine;
}
.tourName{
    cursor : pointer;
}
.addButton{
    float: none;
    text-align: left;
    /*margin: 20px 0 40px 0;*/
    /*cursor : pointer;*/
    background-color: white;
}
.button{
    float: none;
    text-align: right;
    margin: 20px 0 40px 0;
    /*cursor : pointer;*/
    /*background-color: brown;*/
    align-content: right
}
/*div#main {
    float: left;
    text-align: center;
    height: 400px;
    font-size: 100%;
    background-color: yellow;

}*/