.ant-btn {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: block;
  margin: auto;
}

.ant-btn-danger {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.ant-btn-danger:focus,
.ant-btn-danger:hover {
  color: #fff;
  background-color: #ff7875;
  border-color: #ff7875;
}

/* table */

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

table {
  border-collapse: collapse;
}

table {
  display: table;
  border-spacing: 2px;
  border-color: grey;
}

.table td,
.table th {
  padding: 0.75rem;
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  text-align: center;
  border-top: 1px solid #dee2e6;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(222, 226, 230);
}
user agent stylesheet td {
  display: table-cell;
  vertical-align: inherit;
}
.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.table-sm td,
.table-sm th {
  padding: 0.3rem;
}

.table .thead-dark th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
